extends layout

block content
  header
    h1= title

    form#mainform
      label(for="languages") Language
      select#languages(name="lang")
        each language in availableLanguages
          if language == selectedLanguage
            option(selected) #{language}
          else
            option #{language}          
      label(for="dates") Year
      input#dates(type="number", value=date, name="date", min="1945", max="2016")
      input.hideonjs(type="submit")

  div.container
    hr
    ul.flaglist
      each obj in data
        li.flagcard
          figure.flag
            img(src=obj.src, height="50")
            figcaption #{obj.name}
